@font-face {
    font-family: 'GT Super Display';
    src: url(../fonts/hinted-GTSuperDisplay-Light.woff2) format("woff2"), url(../fonts/hinted-GTSuperDisplay-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

/* layout */
#contents {}
#section1 {height: 2400px;}
#section2 {height: 2600px;}
#section3 {height: 3200px;}
#section4 {height: 3000px; background: #ccc;}
#section5 {height: 3000px; background: #555;}
#section6 {height: 3000px; background: #444;}

/* scroll */
.scroll {position: fixed; bottom: 1.8vh; left: 1.8vh; z-index: 100000;}
.scroll span {display: inline-block; width: 50px; height: 50px; background: rgba(0,0,0,0.7); text-align: center; line-height: 50px; color: white; opacity: 1;}


.sec1 {position: fixed; width: 100vw; height: 100vh;}
.sec2 {position: fixed; top: 0; left: 100%; width: 1500px; height: 100vh;}
.sec3 {position: fixed; top: 0; left: 100%; width: 3000px; height: 100vh;}

/* common */
.fixed {position: fixed; left: 50%; top: 50%;}

/* sec1 */
.sec1:before {content: ''; position: absolute; top: 1.8vh; bottom: 1.8vh; right: 0; width: 1px; height: auto; background: #333;}
.sec1 .nav {position: absolute; top: 0; left: 0; width: 6vh; height: 100%;}
.sec1 .chapter {position: absolute; top: 0; width: 6vh; height: 100%;}
.sec1 .chapter .cap_home {margin-top: 1.8vh; margin-left: 1.8vh; font-family: 'Song Myung', serif; font-size: 2vh; line-height: 1.8vh; writing-mode: vertical-rl;}
.sec1 .home {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; height: 100%;}
.sec1 .home:before {content: ''; position: absolute; top: 0; bottom: 0; left: 50%; width: 1px; height: 100%; transform: rotate(-70deg); background: rgba(0,0,0,0.4);}
.sec1 .home > div {font-family: 'Song Myung', serif; font-size: 20vw; background: #fff;}
.sec1 .home .word1 {position: absolute; top: 0vh; left: 15vh;}
.sec1 .home .word2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.sec1 .home .word3 {position: absolute; bottom: 1.8vh; right: 15vh;}
.sec1 .home .icon {position: absolute; top: 1.8vh; right: 3.6vh; width: 50px; height: 50px; background: #000;}
.sec1 .home .icon i {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 2vh; color: #fff; line-height: 2.5vh;}
.sec1 .home .word_left {position: absolute; bottom: 15vh; left: 15vh;}
.sec1 .home .word_left span {position: relative; float: right; writing-mode: vertical-lr; font-family: 'Nanum Myeongjo', serif; font-size: 2.5vh; line-height: 3vh;}
.sec1 .home .word_bottom {position: absolute; bottom: 1.8vh; right: 3.6vh;}
.sec1 .home .word_bottom .time {float: right; font-family: 'Frank Ruhl Libre', serif; font-style: normal; font-weight: 600; font-size: 1.8vh;}


/* sec2 */
.chapter {position: absolute; top: 0; left: 1.8vh; width: 6vh; height: 100%;}
.chapter .cap_home {margin-top: 1.8vh; margin-left: 1.8vh; font-family: 'Song Myung', serif; font-size: 2vh; line-height: 1.8vh; writing-mode: vertical-rl;}
.chapter .cap_sep {margin-top: 0.5vh; margin-left: 1.8vh; font-family: 'Frank Ruhl Libre', serif; font-weight: 700; font-size: 1.8vh; line-height: 1.8vh; writing-mode: vertical-rl;}
.chapter .cap_dec {margin-top: 0.5vh; margin-left: 1.8vh; font-family: 'Frank Ruhl Libre', serif; font-weight: 400; font-size: 1.8vh; line-height: 1.8vh; writing-mode: vertical-rl;}

.sec2 .imgWrap {position: absolute; top: 0; left: 5vw; width: 50vw; height: 100vh; background: url('../img/i1.jpg') center; background-size: cover; position: relative;}
.sec2 .imgWrap .rImg {position: absolute; left: 500px; top: 50%; transform: translateY(-50%); width: 400px; height: 300px; background: url('../img/i2.jpg') center; background-blend-mode: lighten; background-size: cover; background-color: rgba(255, 186, 0, 0.35);}
.sec2 .imgWrap canvas {position: absolute; left: 0px; top: 0; width: 100%; height: 100%; filter: blur(1px);}

.sec2 .tit_wrap {
    position: absolute; top: 0; left: 40vw; width: 3000px; height: 100vh; font-size: 25vh; text-transform: uppercase; 
    font-family: 'Song Myung', serif;
}
.sec2 .tit_wrap .tit1 {
    position: absolute; bottom: 75vh; line-height: 13vw;  
}
.sec2 .tit_wrap .tit2 {
    position: absolute; bottom: 50vh; line-height: 13vw; 
}
.sec2 .tit_wrap .tit3 {
    position: absolute; bottom: 25vh; line-height: 13vw; 
}
.sec2 .tit_wrap .tit4 {
    position: absolute; bottom: 0vh; line-height: 13vw; 
}


.sec2 .i_wrap {position: absolute; top: 0; left: 125vw; width: 30vw; height: 100vh;}
.sec2 .i_wrap .i_top {position: relative; width: 100%; height: 45%; background: url('../img/i3(8).jpg') center; background-size: cover;}
.sec2 .i_wrap .i_bottom {position: relative; width: 100%; height: 54%; margin-left: 0.5%; font-family: 'Playfair Display', serif; font-size: 2vh;}
.sec2 .i_wrap .i_bottom:before {content: ''; position: absolute; top: 0; bottom: 0; left: 50%; width: 1px; height: 100%; transform: rotate(-50deg); background: rgba(0,0,0,0.4);}
.sec2 .i_wrap:after {content: ''; position: absolute; top: 0vh; bottom: 1.8vh; left: -1.8vh; width: 1px; height: auto; background: #333;}
.sec2 .i_wrap:before {content: ''; position: absolute; top: 0vh; bottom: 1.8vh; right: -1.8vh; width: 1px; height: auto; background: #333;}
.sec2 .i_wrap .i_bottom .in_word1 {position: absolute; top: 8vh; left: 8vh; background: #fff;}
.sec2 .i_wrap .i_bottom .in_word2 {position: absolute; bottom: 8vh; right: 8vh; background: #fff;}
.sec2 .i_wrap .i_bottom ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; font-size: 3vh;}
.sec2 .i_wrap .i_bottom ul li {display: block; margin-bottom: 1.8vh;}


/* sec3 */
.sec3:before {content: ''; position: absolute; top: 1.8vh; bottom: 1.8vh; right: 0; width: 1px; height: auto; background: #333;}
.sec3 .me1 {position: relative; float: left; width: 50%; height: 100%;}
.sec3 .me1:before {content: ''; position: absolute; top: 1.8vh; bottom: 1.8vh; right: 0; width: 1px; height: auto; background: #444;}
.sec3 .me1 .me_wrap {position: absolute; top: 25vh; left: 18vh; width: 1100px; height: 450px;}
.sec3 .me1 .me_wrap img {position: absolute; top: 0; left: 33vh;}
.sec3 .me1 .me_wrap .me_t {font-family: 'Nanum Myeongjo', serif; font-size: 8vh; line-height: 12vh; z-index: 10;}
.sec3 .me1 .me_wrap .m2_wrap {position: relative; top: -450px; left: 62vh; width: 70vh; height: 10vh;}
.sec3 .me1 .me_wrap .m2_wrap > span {position: absolute; top: 0; left: 0; visibility: hidden; line-height: 12vh;}
.sec3 .me1 .me_wrap .m2_wrap > span.on {visibility: visible;}
.sec3 .me1 .me_wrap .m2_wrap > span.m1 {font-family: 'Song Myung', serif; font-size: 8vh;}
.sec3 .me1 .me_wrap .m2_wrap > span.m2 {font-family: 'Malgun Gothic'; font-size: 8vh;}
.sec3 .me1 .me_wrap .m2_wrap > span.m3 {font-family: 'Frank Ruhl Libre', serif; font-size: 6vh; text-shadow: -1px 0 #000;}
.sec3 .me1 .me_wrap .m2_wrap > span.m4 {font-family: 'Nanum Myeongjo', serif; font-size: 8vh; color: transparent; -webkit-text-stroke: 1px #000;}
.sec3 .me2 {position: relative; float: left; width: 50%; height: 100%;}
.sec3 .me2 .motion {position: relative; float: left; margin-left: 10%; width: 50%; height: 50%;}
.sec3 .me2 .motion .line:before {content: ''; position: absolute; top: 0; bottom: 0; left: 50%; width: 1px; height: 100%; transform: rotate(60deg); background: rgba(0,0,0,0.4);}
.sec3 .me2 .motion .m_word1 {position: absolute; top: 8vh; right: 8vh;}
.sec3 .me2 .motion .m_word2 {position: absolute; bottom: 8vh; left: 8vh;}
.sec3 .me2 .me2_t {position: relative; float: left; width: 35%; height: 50%;}
.sec3 .me2 .me2_t p {position: absolute; bottom: 8vh; left: 5vh; right: 5vh; font-family: 'Nanum Myeongjo', serif; font-size: 2vh;}
.sec3 .me2 .date {position: relative; float: left; width:30%; height: 50%; }
.sec3 .me2 .date .d_wrap {position: absolute; bottom: 1vh; left: 1.8vh; font-family: 'Frank Ruhl Libre', serif; font-size: 20vh; font-weight: 400; line-height: 15vh; letter-spacing: -3.0vh;}
.sec3 .me2 .date .d_wrap p.d1 {position: relative; float: left; width: 100%; overflow: hidden;}
.sec3 .me2 .date .d_wrap p.d2 {position: relative; float: left; width: 100%; overflow: hidden;}
.sec3 .me2 .date .d_wrap p.d3 {position: relative; float: left; width: 100%; overflow: hidden;}
.sec3 .me2 .me2_t2 {position: relative; float: left; padding-bottom: 1.8vh; width: 30%; height: 50%;}
.sec3 .me2 .me2_t2 p {position: absolute; top: 8vh; left: 5vh; right: 5vh; font-family: 'Nanum Myeongjo', serif; font-size: 2vh;}
.sec3 .me2 .m_img {position: relative; float: left; width: 35%; height: 50%; background: url('../img/i3(3).jpg') center; background-size: cover;}
.sec3 .me2 .m_img img {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}


/* media query */
@media (max-width: 800px){
    .sec1 {position: static;}
}
























