@font-face {
    font-family: 'GT Super Display';
    src: url(../fonts/hinted-GTSuperDisplay-Light.woff2) format("woff2"), url(../fonts/hinted-GTSuperDisplay-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

/* layout */
#contents {}
#section1 {height: 2400px;}
#section2 {height: 2200px;}
#section3 {height: 3200px;}
#section4 {height: 3000px; background: #ccc;}
#section5 {height: 3000px; background: #555;}
#section6 {height: 3000px; background: #444;}

/* scroll */
.scroll {position: fixed; bottom: 1.8vh; left: 1.8vh; z-index: 100000;}
.scroll span {display: inline-block; width: 50px; height: 50px; background: rgba(0,0,0,0.7); text-align: center; line-height: 50px; color: white; opacity: 1;}


.sec1 {position: fixed; width: 100vw; height: 100vh;}
.sec2 {position: fixed; top: 0; left: 100%; width: 1500px; height: 100vh;}
.sec3 {position: fixed; top: 0; left: 100%; width: 3000px; height: 100vh;}

/* common */
.fixed {position: fixed; left: 50%; top: 50%;}

/* sec1 */
.sec1:before {content: ''; position: absolute; top: 1.8vh; bottom: 1.8vh; right: 0; width: 1px; height: auto; background: #333;}
.sec1 .nav {position: absolute; top: 0; left: 0; width: 6vh; height: 100%;}
.sec1 .chapter {position: absolute; top: 0; width: 6vh; height: 100%;}
.sec1 .chapter .cap_home {margin-top: 1.8vh; margin-left: 1.8vh; font-family: 'Song Myung', serif; font-size: 2vh; line-height: 1.8vh; writing-mode: vertical-rl;}
.sec1 .home {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; height: 100%;}
.sec1 .home:before {content: ''; position: absolute; top: 0; bottom: 0; left: 50%; width: 1px; height: 100%; transform: rotate(-70deg); background: rgba(0,0,0,0.4);}
.sec1 .home > div {font-family: 'Song Myung', serif; font-size: 20vw; background: #fff;}
.sec1 .home .word1 {position: absolute; top: 0vh; left: 15vh;}
.sec1 .home .word2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.sec1 .home .word3 {position: absolute; bottom: 1.8vh; right: 15vh;}
.sec1 .home .icon {position: absolute; top: 1.8vh; right: 3.6vh; width: 50px; height: 50px; background: #000;}
.sec1 .home .icon i {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 2vh; color: #fff; line-height: 2.5vh;}
.sec1 .home .word_left {position: absolute; bottom: 15vh; left: 15vh;}
.sec1 .home .word_left span {position: relative; float: right; writing-mode: vertical-lr; font-family: 'Nanum Myeongjo', serif; font-size: 2.5vh; line-height: 3vh;}
.sec1 .home .word_bottom {position: absolute; bottom: 1.8vh; right: 3.6vh;}
.sec1 .home .word_bottom .time {float: right; font-family: 'Frank Ruhl Libre', serif; font-style: normal; font-weight: 600; font-size: 1.8vh;}


/* sec2 */
.chapter {position: absolute; top: 0; left: 1.8vh; width: 6vh; height: 100%;}
.chapter .cap_home {margin-top: 1.8vh; margin-left: 1.8vh; font-family: 'Song Myung', serif; font-size: 2vh; line-height: 1.8vh; writing-mode: vertical-rl;}
.chapter .cap_sep {margin-top: 0.5vh; margin-left: 1.8vh; font-family: 'Frank Ruhl Libre', serif; font-weight: 700; font-size: 1.8vh; line-height: 1.8vh; writing-mode: vertical-rl;}
.chapter .cap_dec {margin-top: 0.5vh; margin-left: 1.8vh; font-family: 'Frank Ruhl Libre', serif; font-weight: 400; font-size: 1.8vh; line-height: 1.8vh; writing-mode: vertical-rl;}

.sec2 .imgWrap {position: absolute; top: 1.8vh; left: 20vh; width: 80vh; height: 90vh; background: url('../img/i1.jpg') center; background-size: cover; position: relative;}
.sec2 .imgWrap .rImg {position: absolute; top: 65vh; width: 40vh; height: 30vh; background: url('../img/i2.jpg') center; background-blend-mode: lighten; background-size: cover; background-color: rgba(255, 186, 0, 0.35);}
.sec2 .imgWrap canvas {position: absolute; left: 0px; top: 0; width: 100%; height: 100%; filter: blur(1px);}

.sec2 .tit_wrap {
    position: absolute; top: 0; left: 50vh; width: 3000px; height: 100vh; font-size: 16vh; text-transform: uppercase; 
    font-family: 'Song Myung', serif;
}
.sec2 .tit_wrap .tit1 {
    position: absolute; top: 0vh; line-height: 18vh;  
}
.sec2 .tit_wrap .tit2 {
    position: absolute; top: 15vh; line-height: 18vh; 
}
.sec2 .tit_wrap .tit3 {
    position: absolute; top: 30vh; line-height: 18vh; 
}
.sec2 .tit_wrap .tit4 {
    position: absolute; top: 45vh; line-height: 18vh; 
}


.sec2 .i_wrap {position: absolute; top: 0; width: 90vh; height: 100vh;}
.sec2 .i_wrap .i_top {position: relative; top: 1.8vh; width: 100%; height: 50%; font-family: 'Playfair Display', serif; font-size: 2vh;}
.sec2 .i_wrap .i_top:before {content: ''; position: absolute; top: -10vh; bottom: 0; left: 50%; width: 1px; height: 70vh; transform: rotate(-67deg); background: rgba(0,0,0,0.4);}
.sec2 .i_wrap:after {content: ''; position: absolute; top: 1.8vh; bottom: 1.8vh; left: -1.8vh; width: 1px; height: auto; background: #333;}
.sec2 .i_wrap:before {content: ''; position: absolute; top: 1.8vh; bottom: 1.8vh; right: -1.8vh; width: 1px; height: auto; background: #333;}
.sec2 .i_wrap .i_top .in_word1 {position: absolute; top: 10vh; left: 10vh; background: #fff;}
.sec2 .i_wrap .i_top .in_word2 {position: absolute; bottom: 10vh; right: 10vh; background: #fff;}
.sec2 .i_wrap .i_top ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; font-size: 3vh;}
.sec2 .i_wrap .i_top ul li {display: block; margin-bottom: 1.8vh;}
.sec2 .i_wrap .i_bottom {position: relative; bottom: 1.8vh; width: 100%; height: 50%; background: url('../img/i3(5).jpg') bottom; background-size: cover;}

/* sec3 */
.sec3:before {content: ''; position: absolute; top: 1.8vh; bottom: 1.8vh; right: 0; width: 1px; height: auto; background: #333;}
.sec3 .me_wrap {position: absolute; bottom: 1.8vh; left: 7.8vh;}
.sec3 .me_wrap .me_top {position: relative; top: 1.8vh; left: 0vh; width: 90vh; height: 50vh; background: url('../img/i4(2).jpg') center; background-size: cover;}
.sec3 .me_wrap .me_bottom {position: relative; top: 0; left: 0vh; width: 90vh; height: 50vh;background: lightyellow;}



/* media query */
@media (max-width: 800px){
    .sec1 {position: static;}
}
























