/* ====================== fonts ====================== */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


/* ====================== reset ====================== */
*{box-sizing:border-box;}
html,body{width:100%;padding:0;margin:0;font-family:'Roboto','Noto Sans SC','Noto Sans JP', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif; color:#222;letter-spacing: -0.25px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
h1,h2,h3,h4,h5{padding:0;margin:0;}
p{margin:0;padding:0;word-wrap:break-word;word-break:keep-all;}
a, a:hover, a:focus{text-decoration:none; color:#000;}
fieldset,img{border:0 none}
img{position:relative;}
input,select,textarea,button{vertical-align:middle;font-family:'Roboto', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;}
input{appearance:none; -webkit-appearance:none; -webkit-border-radius:0; border:0 none; font-family:inherit; font-size:inherit; line-height:inherit;}
input::-ms-clear{display:none}
input::-webkit-contacts-auto-fill-button {visibility:hidden;display:none !important;pointer-events:none;position:absolute;right:0}
input{color:#222; font-size:16px;}
button{border:0 none;border-radius:0;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
caption{position:absolute; left:-9999px; width:0.01px; height:0.01px; font-size:0.1px; line-height:0.01px; overflow:hidden;}
table{border-spacing:0;border-collapse:collapse;}
textarea{-webkit-appearance:none;-webkit-border-radius:0;width:100%;min-height:270px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px 20px;border:1px solid #ddd;outline:none;font:inherit;resize:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease; overflow:auto;}
legend{position:absolute; left:-9999px; width:0.01px; height:0.01px; font-size:0.1px; line-height:0.01px; overflow:hidden;}

input::placeholder{font-family:'Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}
input:-ms-input-placeholder{font-family:'Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}/* IE */
input::-webkit-input-placeholder{font-family:'Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}/* Chrome */
input:-mos-input-placeholder{font-family:'Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}/* Firefox */

textarea::placeholder{font-family:'Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}

select{-webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url(../images/common/ico_search_arr.png)no-repeat right 8px center; -webkit-border-radius:0;}
select::-ms-expand{display:none;/* 화살표 없애기 for IE10, 11*/}

.blind{position:absolute; left:-9999px; width:0.01px; height:0.01px; font-size:0.1px; line-height:0.01px; overflow:hidden;}

.txc{text-align: center !important;}
.txr{text-align: right !important;}
.txl{text-align: left !important;}