@charset "utf-8"; /* ====================== TABLET/MOBILE ====================== */
/* ---------------------- 타이틀01 ---------------------- */
/* 타이틀01 ---------------------------------------- */
/* 타이틀02 */


/* ====================== setting ====================== */
body { font-family: var(--m-font-01); font-family: var(--m-font-02); } 
:root { --main-bg-color: brown; --m-c-white: #fff; --m-c-white-op: rgba(255, 255, 255, 0.65); --m-tit-fs-01: 10vw; --m-tit-fs-02: 70px; --m-txt-fs-01: 38px; --m-txt-fs-02: 28px; --m-txt-fs-03: 18px; --m-txt-fs-04: 16px; --m-font-h1: 'Moirai One', cursive; --m-font-01: 'Noto Serif KR', serif; --m-font-02: 'Gowun Batang', serif; } 
element { background-color: var(--main-bg-color); } 

/* ====================== main ====================== */
/* layout ---------------------------------------- */
.wrap { } 
.inner { width: 100%; margin: 0 auto; max-width: 1220px; padding: 0 20px; } 
.container { padding-top: 100px; } 
.box { color:var(--m-c-white); } 

/* header ---------------------------------------- */
.header { position: fixed; display: flex; top: 0; left: 0; width: 100%; height: 100px; background: rgba( 255, 255, 255, 0.2 ); box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); backdrop-filter: blur( 4.5px ); -webkit-backdrop-filter: blur( 4.5px ); /* border-radius: 10px; */
 border: 1px solid rgba( 255, 255, 255, 0.18 ); text-align: center; align-items: center; } 
.header h1 { display: inline-block; font-family: var(--m-font-h1), cursive; color:var(--m-c-white); text-align: center; font-size: 48px; } 
.header .title { } 
.header .title:after { content: ''; display:inline-block; width: 70px; height: 70px; background: url(../img11/ico_dream.png) no-repeat; background-size: contain; transform: scaleX(-1); margin-top: -10px; } 
/* con ---------------------------------------- */
.con { padding: 40px 0px; } 
.con .box { display: flex; flex-direction: column; } 
/* main_bg */
.box.main_bg { display: block; position: fixed; top:0; left:0; width:100%; height:100%; overflow: hidden; z-index: -1; } 
.box.main_bg::before { content:''; position: absolute; top:0; left:0; width:100%; height:100%; background:rgba(153, 150, 135, 1); background:rgba(118, 100, 126, 0.5); z-index: 1; /* background: linear-gradient(-45deg, #ff9742,#ff8896 31%,#fe7ce8 52%,#78e2f2); */
 background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); background-size: 400% 400%; animation: gradient 15s ease infinite; height: 100vh; opacity: 0.15; /* background: rgba(0, 0, 0, 0.5); */ } 
.box.main_bg img { display:block; position:absolute; top:50%; left:50%; width:auto; height:auto; min-width:1000%; min-height:1000%; max-width:none; max-height:none; transform:translate(-50%, -50%) scale(0.101); } 
body { } 

@keyframes gradient { 
 0% { background-position: 0% 50%; } 
50% { background-position: 100% 50%; } 
100% { background-position: 0% 50%; } 
 }


/* login_form */
.btn_base { text-transform: uppercase; cursor: none; background-color: transparent; border: 1px solid rgba(255,255,255,.3); border-radius: 20px; /* margin-top: 2rem; */
 /* margin-left: auto; */
 padding: 10px 12px; transition: background-color .2s; display: inline-block; color: var(--m-c-white); margin-left: 10px; } 
.btn_base:hover { background-color: rgba(255,255,255,.2); } 
input { color: #fff; cursor: none; background-color: transparent; border: 1px #000; border-bottom: 1px solid rgba(255,255,255,.2); padding: 0 0 1px; font-weight: 400; } 
input:focus,
input:focus-visible { outline: 0; border-bottom-color: rgba(255,255,255,.8); } 
input::placeholder { font-family: var(--m-font-01); color: var(--m-c-white-op) !important; } 
input:-ms-input-placeholder { font-family: var(--m-font-01); color: var(--m-c-white-op) !important; } /* IE */
input::-webkit-input-placeholder { font-family: var(--m-font-01); color: var(--m-c-white-op) !important; } /* Chrome */
input:-mos-input-placeholder { font-family: var(--m-font-01); color: var(--m-c-white-op) !important; } /* Firefox */
input::placeholder:focus,
input:-ms-input-placeholder:focus,
input::-webkit-input-placeholder:focus,
input:-mos-input-placeholder:focus { color: var(--m-c-white); } 

.box.login { } 
.box.login form { display: flex; justify-content: center; } 
.box.login input { } 
.box.login .greeting { position: relative; padding-left: 60px; font-size: 60px; } 
.box.login .greeting:before { content: ''; position: absolute; top: 0; left: 0; display:inline-block; width: 50px; height: 52px; background-color: #000; background: url(../img11/ico_clover.png) no-repeat; background-size: contain; transform: rotate(295deg); margin-top: 15px; } 
/* weather */
.box.weather { position: absolute; top: 0; right: 0; padding: 9px 16px 10px 16px; border: 1px solid var(--m-c-white); border-radius: 30px; margin: 30px 30px 0 0; } 
.box.weather .weather_list { } 
.weather_list { display: flex; } 
.weather_list > li { display: flex; } 
.weather_list > li + li { margin-left: 5px; } 
.weather_list > li + li:before { content:'/'; margin-right: 5px; } 
.weather_list > li > span + span { margin-left: 5px; } 
.weather_list .w_ico { position: relative; width: 20px; height: 20px; } 
.weather_list .w_ico img { width: 40px; /* margin: -13px -20px; */
 position: absolute; top: 50%; left: 50%; transform: translate(-50%, -43%); } 
.weather_list .w_txt { } 
.weather_list .temp { } 
.weather_list .city { } 
/* clock */
.box.clock { font-size: 17vw; margin: 0 auto; text-align: center; } 
/* todo */
.box.todo { padding-right: 50%; font-size: 22px; } 
.box.todo .todo_inner { margin: 20px; border: 1px solid #fff; border-radius: 30px; padding: 20px 28px; background: rgba( 255, 255, 255, 0.2 ); box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); backdrop-filter: blur( 4.5px ); -webkit-backdrop-filter: blur( 4.5px ); border: 1px solid rgba( 255, 255, 255, 0.18 ); } 
.box.todo form { display: flex; width: 100%; } 
.box.todo input { flex: 1; } 
.box.todo .todo_list { } 
.box.todo .todo_list .default { } 
.todo_list .btn_base { padding: 5px 8px; } 
.todo_list > li { position: relative; padding-left: 28px; font-size: 16px; } 
.todo_list > li:before { content: ''; position: absolute; top:0; left:0; display:inline-block; width: 20px; height: 20px; background-color: #000; background: url(../img11/ico_pin.png) no-repeat; background-size: contain; transform: scaleX(-1); margin: 2px 0px 0 3px; } 
.todo_list > li + li { margin-top: 5px; } 

.todo_list > li:first-child { margin-top: 20px; } 

/* quote */
.box.quote { -webkit-text-stroke: 1px #fff; color: transparent; font-size: var(--m-tit-fs-01); position: absolute; top: 0; right: 0; width: 50%; height: 100%; /* transform: translate(-50%,-50%); */
 /* overflow: scroll; */
 /* margin-top: 25vw; */
 z-index: -1; overflow: hidden; } 
.box.quote .ani_scroll { animation: scroll_top 70s linear .5s infinite both; } 
.box.quote span { display: block; } 
.box.quote .quote_txt { } 
.box.quote .quote_desc { } 
@keyframes scroll_top { 
 0% { transform: translateY(0) } 
 to { transform: translateY(-100%) } 
 }


/* footer ---------------------------------------- */
.footer { position: absolute; bottom: 0; left: 0; width: 100%; padding: 40px 0; } 
.footer .foo_info { }
.foo_info > li{ padding-left: 10px; }
.foo_info > li:before{content:"*"; }
.foo_info > li .f_title{ font-weight: 700; }
.foo_info > li .f_title:after{content: ":";}
.foo_info > li .f_txt{ }








@media all and (max-width : 1024px) { 

} 
@media all and (max-width : 640px) { } 
@media all and (max-width : 520px) { } 





