@charset "utf-8";

/* fonts ---------------------------------------- */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
	font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Pretendard-Black.woff2') format('woff2'), url('../fonts/Pretendard-Black.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'), url('../fonts/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2'), url('../fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2'), url('../fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2'), url('../fonts/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Pretendard-Light.woff2') format('woff2'), url('../fonts/Pretendard-font-weight: 300;.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'), url('../fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/Pretendard-Thin.woff2') format('woff2'), url('../fonts/Pretendard-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Helveticaneueltpro lt';
    src: url('https://uploads-ssl.webflow.com/61cd92fc370baab4003d2fb7/61cd92fc370baa0bf83d2fd7_HelveticaNeueLTPro-Lt.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Helveticaneueltpro lt';
    src: url('https://uploads-ssl.webflow.com/61cd92fc370baab4003d2fb7/61cd92fc370baa6b563d2fd8_SaolDisplay-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

/* reset ---------------------------------------- */
*{box-sizing:border-box;}
html,body{width:100%;padding:0;margin:0;font-family: 'Pretendard',-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕','helvetica','Apple SD Gothic Neo', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color:var(--color-text);letter-spacing:-0.25px;word-break: keep-all;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
h1,h2,h3,h4,h5{padding:0;margin:0;}
p{margin:0;padding:0;word-wrap:break-word;word-break:keep-all;}
a, a:hover, a:focus{text-decoration:none;color:var(--color-text);}
fieldset,img{border:0 none}
img{position:relative;}
input,select,textarea,button{vertical-align:middle;font-family:'Pretendard',-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕','helvetica','Apple SD Gothic Neo', sans-serif;}
input{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border:0 none;font-family:inherit;font-size:inherit;line-height:inherit;}
input::-ms-clear{display:none}
input::-webkit-contacts-auto-fill-button {visibility:hidden;display:none !important;pointer-events:none;position:absolute;right:0}
input{color:var(--color-text);font-size:16px;}
button{color:var(--color-text);border:0 none;border-radius:0;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
caption{position:absolute;left:-9999px;width:0.01px;height:0.01px;font-size:0.1px;line-height:0.01px;overflow:hidden;}
table{border-spacing:0;border-collapse:collapse;}
textarea{-webkit-appearance:none;-webkit-border-radius:0;width:100%;min-height:270px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px 20px;border:1px solid var(--color-line);outline:none;font:inherit;resize:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;overflow:auto;}
textarea:disabled{background:var(--color-btn-hover);}
legend{position:absolute;left:-9999px;width:0.01px;height:0.01px;font-size:0.1px;line-height:0.01px;overflow:hidden;}

input::placeholder{font-family:'Pretendard',-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕','helvetica','Apple SD Gothic Neo', sans-serif;color:var(--color-place)!important;font-weight:400 !important;}
input:-ms-input-placeholder{font-family:'Pretendard',-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕','helvetica','Apple SD Gothic Neo', sans-serif;color:var(--color-place)!important;font-weight:400 !important;}/* IE */
input::-webkit-input-placeholder{font-family:'Pretendard',-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕','helvetica','Apple SD Gothic Neo', sans-serif;color:var(--color-place)!important;font-weight:400 !important;}/* Chrome */
input:-mos-input-placeholder{font-family:'Pretendard',-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕','helvetica','Apple SD Gothic Neo', sans-serif;color:var(--color-place)!important;font-weight:400 !important;}/* Firefox */

select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:var(--color-white) url(../images/common/icon-select-arr.png)no-repeat right 20px center !important;-webkit-border-radius:0;}
select::-ms-expand{display:none;/* 화살표 없애기 for IE10, 11*/}

.blind{position:absolute;left:-9999px;width:0.01px;height:0.01px;font-size:0.1px;line-height:0.01px;overflow:hidden;}
.tac{text-align: center !important;}
.tar{text-align: right !important;}
.fw400{font-weight: 400;}
.mob_visible{display: none;}

/* *{font-family: 'Helvetica Neue LT Pro', Arial, sans-serif !important;font-style: italic !important;} */
*{font-family: 'Helveticaneueltpro lt', Arial, sans-serif !important;font-style: italic !important;}

@media all and (max-width: 750px){
    .m_tac{text-align: center !important;}
    .mob_visible{display: inline-block;}
}


/* base colors ------------------------------------ */
:root {
    /* --color-orange: #FF9A36;
    --color-bage: #F8F5EF;
    --color-light-grey: #F7F7F7;
    --color-grey: #C8C8C8;
    --color-border: #DDDDDD;
    --color-black: rgb(0, 0, 0);
    --color-black-11: #111111;
    --color-black-33: #333333;
    --color-black-55: #555555;
    --color-black-77: #777777;
    --color-black-49: #494949;
    --color-black-99: #999999;
    --color-black-de: #dedede;
    --color-white: rgb(255, 255, 255);
    --color-overlay: rgba(0, 0, 0, 0.4);*/

    --color-main: #FF9A36;
    --color-main-hover: #FF8811;
    --color-main-disabled: #FBBF82;
    --color-btn-hover: #F5F5F5;
    --color-btn-disabled: #F8C38F;
    --color-bage: #F8F5EF;
    --color-light-grey: #F7F7F7;
    --color-place: #C8C8C8;
    --color-line: #DDDDDD;
    --color-outline: #C1C1C1;
    --color-h1: #111111;
    --color-h2: #333333;
    --color-h3: #222222;
    --color-text: #555555;
    --color-sub-text: #777777;
    --color-black-aa: #AAAAAA;
    --color-black-c1: #C1C1C1;
    --color-black-3a: #3A3A3A;
    --color-black-49: #494949;
    --color-black-99: #999999;
    --color-book-outline: #dedede;
    --color-white: rgb(255, 255, 255);
    --color-overlay: rgba(0, 0, 0, 0.4);
}

